.NoteFormTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--container-padding);
  border-bottom: 2px solid var(--stone-12);
  color: var(--stone-12);
  letter-spacing: 0.05em;
}

.NoteFormTitle__label {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);
}

.NoteFormTitle__closeButton {
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size-8);
  height: var(--size-8);
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
