.NoteFormCommon {
  display: grid;
}

.NoteFormCommon__fields {
  display: grid;
  gap: calc(var(--container-padding) * 2);
}

.NoteFormCommon__timeFields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--container-padding);
}

.NoteFormCommon__submitButton {
  margin-top: var(--size-4);
}

.NoteFormCommon__2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--container-padding);
}
