.NoteMeta {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--size-2);
  padding: var(--container-padding);
  margin-bottom: calc(var(--container-padding) * 2);
  background-color: var(--stone-2);
  border-radius: var(--radius-2);
  font-size: var(--font-size-0);
}

.NoteMeta:has(button:active) {
  opacity: 0.7;
}

.NoteMeta__toggle {
  position: absolute;
  inset: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.NoteMeta__icon {
  position: absolute;
  right: var(--size-2);
  top: var(--size-2);
}

.NoteMeta__place {
  grid-column: span 3;
}
