.NoteFormTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--container-padding);
  border-bottom: 2px solid var(--stone-12);
  color: var(--stone-12);
  letter-spacing: 0.05em;

  &:has(.NoteFormTitle__closeButton:active) {
    opacity: 0.5;
  }
}

.NoteFormTitle__label {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);
}

.NoteFormTitle__closeButton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  cursor: pointer;

  > span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
