.NoteActionsBar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--size-1);
  align-items: center;
  margin-bottom: var(--container-padding);
}

.NoteActionsBar__form {
  padding: 0 var(--container-padding);
  padding-bottom: calc(var(--container-padding) * 4);
  display: grid;
  row-gap: 1em;
}
