.InputField {
  display: grid;
  row-gap: var(--size-1);
  --text-color: inherit;
}

.InputField:has([aria-invalid="true"]) {
  --text-color: var(--key-color);
}

.InputField__label {
  display: inline-flex;
  align-items: center;
  gap: var(--size-1);
  color: var(--text-color);
  font-size: var(--form-font-size);
}

.InputField__required {
  color: var(--key-color);
  font-size: var(--font-size-0);
}

.InputField__helperText {
  font-size: var(--font-size-0);
  color: var(--text-color);
}

.InputField__errorText {
  color: var(--key-color);
}

.InputField__fullWidth {
  width: 100%;
}

.InputField__fullWidth :is(input, textarea, select) {
  width: 100%;
}
