.TextField {
  height: var(--button-height);
  font-size: var(--form-font-size);
  padding-inline: var(--form-padding-horizontal);
  border: var(--border-size-1, 1px) solid var(--text-color, var(--border-color));
  border-radius: var(--radius-2);
  background-color: var(--color-background);
  transition: border-color 0.2s ease;
}

.TextField::placeholder {
  color: var(--place-holder);
}
