.TextArea {
  min-height: calc(var(--button-height) * 2);
  font-size: var(--form-font-size);
  padding: var(--form-padding-horizontal);
  border: var(--border-size-1, 1px) solid var(--text-color, var(--border-color));
  border-radius: var(--radius-2);
  background-color: var(--color-background);
  resize: vertical;
}

.TextArea::placeholder {
  color: var(--place-holder);
}
