@import url("open-props/style");
@import url("kiso.css");

:root {
  --max-content-width: 768px;
  --base-color: var(--stone-12);
  --key-color: var(--red-9);
  --text-color: var(--base-color);
  --border-color: var(--base-color);
  --container-padding: var(--size-2);
  --header-height: var(--size-8);
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: var(--text-color);
}

a {
  color: var(--link);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--link-visited);
  }
}

svg,button,img {
  vertical-align: top;
}

.tap {
  transition: opacity 0.15s;

  &:active {
    opacity: 0.5;
  }
}

.button {
  padding: 0 1em;
  font-size: inherit;
  font-weight: bold;
  line-height: 2em;
  border-width: var(--size-1);

  &:active {
    color: var(--key-color);
    border-color: var(--key-color);
  }
}
