.button {
  display: inline-block;
  padding: var(--size-2) var(--size-5);
  font-size: var(--font-size-0);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--base-color);
  border: none;

  &:active {
    background-color: var(--key-color);
  }

  &:disabled {
    opacity: 0.5;
  }
}
