.root {
  --space: var(--size-5);

  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80svw;
  padding: var(--space);
  background: #fff;
  border-left: 1px solid var(--border-color);

  a {
    font-weight: bold;
    color: var(--base-color);
  }

  ul {
    display: grid;
    gap: var(--size-3);
    font-size: var(--font-size-3);
  }
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: var(--size-5) 0;
  background-color: var(--border-color);
  border: none;
}

.backdrop {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  width: 100svw;
  background: rgb(0 0 0 / 50%);
}
