.root {
  display: grid;
  grid-template-columns: var(--header-height) 1fr var(--header-height);
  align-items: center;
  height: var(--header-height);
  padding: 0 var(--container-padding);
  background: #fff;
  border-bottom: 1px solid var(--border-color);

  > h1 {
    margin: 0 auto;
    text-align: center
  }
}

.title {
  font-size: var(--font-size-4);
}

.hamburger_menu {
  height: 100%;
}
