.Note__meta {
  margin-bottom: calc(var(--container-padding) * 2);
}

.Note_meta__body {
  background: var(--stone-2);
  padding: var(--container-padding);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.3em;
  font-size: 13px;
  margin-bottom: 3px;
}

.Note__meta__place {
  grid-column: span 3;
}

.Note__meta__editButton {
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
}
