.Avatar {
  object-fit: cover;
  border-radius: 50%;
}

.Avatar__placeholder {
  display: grid;
  place-items: center;
  font-weight: bold;
  color: var(--color-on-contrast);
  background-color: var(--key-color);
  border-radius: 50%;
}
