.Avatar {
  object-fit: cover;
  border-radius: 50%;
}

.AvatarPlaceholder {
  display: grid;
  place-items: center;
  font-weight: bold;
  color: #fff;
  background-color: var(--key-color);
  border-radius: 50%;
}
