.Button {
  --gap: var(--size-1);

  display: inline-flex;
  padding: var(--size-2) var(--size-3);
  font-size: var(--font-size-1);
  color: #fff;
  text-decoration: none;
  background-color: var(--base-color);
  border-radius: var(--radius-2);
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  &:active {
    background-color: var(--key-color);
  }

  &:disabled {
    opacity: 0.5;
  }

  &[data-loading="true"] {
    position: relative;
    color: transparent;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
      border: 2px solid #fff;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spinner 0.6s linear infinite;
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.outlined {
  color: var(--base-color);
  background-color: transparent;
  border: 1px solid var(--base-color);

  &:active {
    color: var(--key-color);
    background-color: transparent;
    border-color: var(--key-color);
  }

  &[data-loading="true"] {
    &::after {
      border-color: var(--base-color);
      border-top-color: transparent;
    }
  }
}

.text {
  all: unset;
  font-size: var(--font-size-1);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--gap);

  &[data-loading="true"] {
    position: relative;
    color: transparent;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
      border: 2px solid currentColor;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spinner 0.6s linear infinite;
    }
  }

  &:active {
    background-color: transparent;
    color: var(--key-color);
  }
}

.startIcon {
  display: inline-flex;
  align-items: center;
}

.endIcon {
  display: inline-flex;
  align-items: center;
}

.content {
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
}

.small {
  padding: var(--size-1) var(--size-2);
  font-size: var(--font-size-0);
}

.danger {
  color: #dc2626;
  background-color: transparent;
  border: 2px solid #dc2626;

  &:active {
    color: #fff;
    background-color: #dc2626;
    border-color: #dc2626;
  }

  &[data-loading="true"] {
    &::after {
      border-color: #dc2626;
      border-top-color: transparent;
    }
  }
}
