.Table {
  width: 100%;
  overflow-x: auto;
}

.Table table {
  width: 100%;
  font-size: var(--font-size-1);
  border-spacing: 0;
  border-collapse: collapse;
}

.Table__header th,
.Table__cell {
  padding: var(--size-2) var(--size-3);
  text-align: left;
  border-bottom: 1px solid var(--stone-6);
}

.Table__header th {
  font-weight: 600;
  color: var(--stone-12);
  background-color: var(--stone-3);
  border-bottom: 2px solid var(--stone-7);
}

.Table__body tr:nth-child(even) {
  background-color: var(--stone-1);
}

.Table__emptyRow {
  height: 100px;
}

.Table__emptyCell {
  padding: var(--size-2) var(--size-3);
  text-align: center;
  color: var(--stone-9);
}
