.input_field {
  display: grid;
  row-gap: var(--size-1);
  --text-color: inherit;

  &:has([aria-invalid="true"]) {
    --text-color: var(--key-color);
  }
}

.label {
  color: var(--text-color);
  font-size: var(--font-size-0);
}

.helper_text {
  font-size: var(--font-size-0);
  color: var(--text-color);
}

.full_width {
  width: 100%;
}

.full_width input,
.full_width textarea,
.full_width select {
  width: 100%;
}

.select {
  --padding-horizontal: var(--size-2);
  appearance: none;
  height: var(--size-6);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  /* padding: .4em calc(.8em + 30px) .4em .8em; */
  border: 1px solid var(--text-color);
  background-color: #fff;
  color: var(--text-color);
  font-size: var(--font-size-0);
  cursor: pointer;
}
