.inputField {
  display: grid;
  row-gap: var(--size-1);
  --text-color: inherit;

  &:has([aria-invalid="true"]) {
    --text-color: var(--key-color);
  }

  &:has(label) {
    position: relative;
    top: calc(-1 * var(--font-size-0));
  }
}

.label {
  color: var(--text-color);
  font-size: var(--font-size-0);
}

.helperText {
  font-size: var(--font-size-0);
  color: var(--text-color);
}

.fullWidth {
  width: 100%;
}

.fullWidth input,
.fullWidth textarea,
.fullWidth select {
  width: 100%;
}

.selectWrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.select {
  --padding-horizontal: var(--size-2);
  appearance: none;
  height: var(--button-height);
  padding-left: var(--padding-horizontal);
  padding-right: calc(var(--padding-horizontal) * 2 + 25px);
  border: 1px solid var(--text-color);
  background-color: #fff;
  color: var(--text-color);
  font-size: var(--font-size-0);
  cursor: pointer;
}

.selectIcon {
  color: var(--text-color);
  position: absolute;
  right: 15px;
  pointer-events: none;
}
