.GlobalHeader {
  display: grid;
  grid-template-columns: var(--header-height) 1fr var(--header-height);
  align-items: center;
  height: var(--header-height);
  padding: 0 var(--container-padding);
  background: var(--color-background);
  border-bottom: 1px solid var(--border-color);

  > h1 {
    margin: 0 auto;
    text-align: center;
  }
}

.GlobalHeader__title {
  font-size: var(--font-size-4);
  a {
    color: var(--base-color);
  }
}

.GlobalHeader__menu {
  height: 100%;
}
