@import url("open-props/style");
@import url("kiso.css");

:root {
  --max-content-width: 768px;
  --base-color: var(--stone-12);
  --key-color: var(--red-9);
  --text-color: var(--base-color);
  --border-color: var(--base-color);
  --container-padding: var(--size-2);
  --header-height: var(--size-8);
  --button-height: var(--size-8);
  --form-font-size: var(--font-size-1);
  --form-padding-horizontal: var(--size-2);
  --place-holder: var(--stone-4);
  --form-gap: var(--size-4);
  --link-text-color: var(--blue-8);
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
  color: var(--text-color);
}

a {
  color: var(--link-text-color);
  text-decoration: none;

  &:active {
    color: var(--key-color);
  }
}

button {
  all: unset;
  cursor: pointer;
}

svg,
button,
img {
  vertical-align: top;
}

/* Root Layout */
.root-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100svh;
}

.root-main {
  width: 100%;
  max-width: var(--max-content-width);
  padding: var(--container-padding);
  margin: var(--size-4) auto 0 auto;
}

.root-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
}
